<div class="border-r">
<div class="

      flex-row
      text-center
      py-4
      my-2
">
  <div class="button-nav" (click)="toSecondApiTester()">
    Api Tester
  </div>

  <div class="button-nav" (click)="toFirstProjectBrowser()">
    Project Browser
  </div>
  <div class="button-nav" (click)="toFirstListBrowser()">
    List Browser
  </div>
  <div class="button-nav" (click)="toSecondProgramBrowser()">
    Program Browser
  </div>

  <div class="button-nav" (click)="toSecondRoutineBrowser()">
    Routine Browser
  </div>

  <div class="button-nav" (click)="toSecondRoutineProgramBrowser()">
    Routine Programs
  </div>

  <div class="button-nav" (click)="toSecondZoteroBrowser()">
    Zotero Browser
  </div>
</div>

</div>
