<div>
  <app-componentheader headerName="Routine Browser"></app-componentheader>

  <app-add-name-input
    entityName="Routine"
    (createNewEntity)="onNewRoutineCreated($event)"
  ></app-add-name-input>

  <div *ngIf="routineBrowserService.showRoutines">
    <div *ngFor="let routine of routineBrowserService.routines">
      <div
        (click)="toRoutine(routine)"
        class="justify-between flex space-x-4 text-left hover-item py-2 cursor-pointer">
        <div  class="pl-4">{{routine.name}}</div>
        <div>{{routine.lastUsed | date:'short'}}</div>
      </div>
    </div>
  </div>

</div>
