<div
  class="page-container border-b ">
  <app-componentheader headerName="Importer"></app-componentheader>
  <div class="flex space-x-2">
    <div id="importer-buttons">
      <button class="button-regular" (click)="pickFilesToImport()">Pick Files To Import</button>
    </div>
    <div id="importer-selected-panel" class="flex space-x-2">
      <div>Selected Files: {{this.importerService.pickedFiles.length}}</div>
      <div id="importer-selected-action-buttons" class="flex space-x-2">

        <button class="button-regular " (click)="pickedFilesShown = !pickedFilesShown">Show File Names</button>

        <button class="button-regular " (click)="selectAll()">Select All</button>
        <button class="button-regular " (click)="invertSelections()">Invert Selections</button>
        <button class="button-regular " (click)="addSelectedToList()">Add Selected To List</button>
        <!--      <button class="button-regular " (click)="addSelectedToProgram()">Add Selected To Program</button>-->

        <div>
          <input type="checkbox" [(ngModel)]="importerService.removeAddedFile"/>Remove after added.
        </div>
      </div>
    </div>
    <div id="importer-selected-files" *ngIf="pickedFilesShown" class="component-container">
      <div *ngFor="let file of getPickedFiles()" (click)="file.selected = !file.selected" class="cursor-pointer">
        <div class="flex space-x-4" [ngClass]="{'checked': file.selected}">
          <div>
            <input type="checkbox" [(ngModel)]="file.selected"/>
          </div>
          <div>
            {{file.filePath}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
